<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Thẻ <clear /> này sẽ HỦY BỎ 
       mọi "fallbackPackageFolders" (thư mục dự phòng) 
       mà nó đã nạp (load) từ các file "ma" (như DevExpress).
  -->
  <fallbackPackageFolders>
    <clear /> 
  </fallbackPackageFolders>
  
  <packageSources>
    <clear />
    <!-- Chúng ta chỉ định rõ chỉ dùng nguồn nuget.org chuẩn -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
</configuration>